#section1{
   background-image: https://zdnet3.cbsistatic.com/hub/i/2012/11/26/278e55cc-1d11-11e4-8c7f-00505685119a/0d90f1dfd278e8f2e4ad4cf56f90455b/cloud-horizon.jpg;

    
}

#section2{
    background-color: rgb(44, 62, 80);
}

#section3{
    background-color: rgb(51, 153, 204);
}

.section{
    text-align: center;
    color: white;
}