.bg-1 {
  margin: auto 10px;
    width: auto;
    height: 2000px;
     background-image: url("Patterns/Sports.png"); /*  Light Blue */
      color: #000000;
      
      
      
  }
  
  p {
    font-family: "Times New Roman", Times, serif;
     color: #000000;
    
    
}

